In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/thepycoach/python-for-data-science/main/05.Data%20Extraction/players_20.csv')

In [5]:
df.sample(10,random_state = 99)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
2158,237043,https://sofifa.com/player/237043/roberto-alvar...,R. Alvarado,Roberto Alvarado,20,1998-09-07,176,70,Mexico,Cruz Azul,...,66+2,62+2,62+2,62+2,66+2,64+2,56+2,56+2,56+2,64+2
15286,224670,https://sofifa.com/player/224670/wei-qiao/20/1...,Qiao Wei,Wei Qiao,31,1987-07-20,187,75,China PR,Shenzhen FC,...,58+2,59+2,59+2,59+2,58+2,58+2,59+2,59+2,59+2,58+2
3137,196073,https://sofifa.com/player/196073/esteban-pared...,E. Paredes,Esteban Paredes,38,1980-08-01,178,82,Chile,Colo-Colo,...,52+2,52+2,52+2,52+2,52+2,50+2,47+2,47+2,47+2,50+2
15326,252743,https://sofifa.com/player/252743/krum-stoyanov...,K. Stoyanov,Krum Stoyanov,27,1991-08-01,177,71,Bulgaria,Bulgaria,...,57+2,50+2,50+2,50+2,57+2,58+2,58+2,58+2,58+2,58+2
11008,246884,https://sofifa.com/player/246884/martin-chudy/...,M. Chudý,Martin Chudý,30,1989-04-23,187,90,Slovakia,Górnik Zabrze,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15866,251726,https://sofifa.com/player/251726/diasha-sundar...,D. Sundaram,Diasha Sundaram,30,1989-04-28,186,81,India,India,...,53+2,54+2,54+2,54+2,53+2,54+2,58+2,58+2,58+2,54+2
821,212153,https://sofifa.com/player/212153/roberto-gagli...,R. Gagliardini,Roberto Gagliardini,25,1994-04-07,190,77,Italy,Inter,...,74+2,76+2,76+2,76+2,74+2,74+2,74+2,74+2,74+2,74+2
15038,251779,https://sofifa.com/player/251779/gabriel-debel...,G. Debeljuh,Gabriel Debeljuh,22,1996-09-28,185,80,Croatia,FC Hermannstadt,...,36+2,34+2,34+2,34+2,36+2,35+2,34+2,34+2,34+2,35+2
14533,155352,https://sofifa.com/player/155352/seung-yong-ki...,Kim Seung Yong,김승용 金胜永,34,1985-03-14,181,75,Korea Republic,Incheon United FC,...,53+2,53+2,53+2,53+2,53+2,52+2,49+2,49+2,49+2,52+2
17500,248380,https://sofifa.com/player/248380/mads-hjalmer-...,M. Hansen,Mads Hjalmer Hansen,18,2001-04-10,174,65,Denmark,SønderjyskE,...,48+2,48+2,48+2,48+2,48+2,47+2,44+2,44+2,44+2,47+2

In [3]:
df.sample(frac = 0.2)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
733,208230,https://sofifa.com/player/208230/andreas-samar...,A. Samaris,Andreas Samaris,30,1989-06-13,189,84,Greece,SL Benfica,...,73+2,77+2,77+2,77+2,73+2,73+2,79+2,79+2,79+2,73+2
5288,168650,https://sofifa.com/player/168650/zdravko-kuzma...,Z. Kuzmanović,Zdravko Kuzmanović,31,1987-09-22,186,80,Serbia,FC Basel 1893,...,61+2,68+2,68+2,68+2,61+2,60+2,65+2,65+2,65+2,60+2
8536,199572,https://sofifa.com/player/199572/ciprian-deac/...,C. Deac,Ciprian Ioan Deac,33,1986-02-16,177,74,Romania,CFR Cluj,...,67+2,66+2,66+2,66+2,67+2,66+2,63+2,63+2,63+2,66+2
10366,213009,https://sofifa.com/player/213009/abdulrahman-a...,A. Al Ghamdi,Abdulrahman Al Ghamdi,24,1994-11-01,175,70,Saudi Arabia,Al Ittihad,...,51+2,49+2,49+2,49+2,51+2,49+2,46+2,46+2,46+2,49+2
8996,231244,https://sofifa.com/player/231244/edson-resende...,E. Reséndez,Edson Reséndez,23,1996-01-12,185,72,Mexico,Monterrey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15190,251506,https://sofifa.com/player/251506/muhannad-al-n...,M. Al Najai,Muhannad Al Najai,25,1994-03-17,173,67,Saudi Arabia,Damac FC,...,58+2,58+2,58+2,58+2,58+2,57+2,57+2,57+2,57+2,57+2
586,235424,https://sofifa.com/player/235424/diadie-samass...,D. Samassékou,Diadie Samassékou,23,1996-01-11,177,68,Mali,TSG 1899 Hoffenheim,...,75+2,77+2,77+2,77+2,75+2,75+2,76+2,76+2,76+2,75+2
1554,198760,https://sofifa.com/player/198760/saphir-taider...,S. Taïder,Saphir Sliti Taïder,27,1992-02-29,180,79,Algeria,Montreal Impact,...,71+2,72+2,72+2,72+2,71+2,69+2,68+2,68+2,68+2,69+2
7216,251132,https://sofifa.com/player/251132/ezequiel-piov...,E. Piovi,Ezequiel Piovi,26,1992-08-20,171,70,Argentina,Arsenal de Sarandí,...,64+2,63+2,63+2,63+2,64+2,62+2,58+2,58+2,58+2,62+2
15180,231486,https://sofifa.com/player/231486/abdulwahab-ja...,A. Jafar,Abdulwahab Jafar,25,1993-09-15,166,62,Saudi Arabia,Damac FC,...,54+2,51+2,51+2,51+2,54+2,53+2,49+2,49+2,49+2,53+2

In [6]:
# upsampling frac> 1 , replace parameter = True 
df.sample(frac = 2,  replace = True )

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
10399,235115,https://sofifa.com/player/235115/mario-parra/2...,M. Parra,Mario Alejandro Parra Pérez,25,1993-07-09,184,78,Chile,Curicó Unido,...,54+2,57+2,57+2,57+2,54+2,57+2,64+2,64+2,64+2,57+2
607,213655,https://sofifa.com/player/213655/alex-iwobi/20...,A. Iwobi,Alex Iwobi,23,1996-05-03,185,75,Nigeria,Everton,...,57+2,55+2,55+2,55+2,57+2,52+2,43+2,43+2,43+2,52+2
5222,235814,https://sofifa.com/player/235814/romario-benza...,R. Benzar,Romario Benzar,27,1992-03-26,180,71,Romania,Lecce,...,68+2,67+2,67+2,67+2,68+2,69+2,67+2,67+2,67+2,69+2
16949,242245,https://sofifa.com/player/242245/fahad-al-rash...,F. Al Rashidi,Fahad Al Rashidi,22,1997-05-16,176,68,Saudi Arabia,Al Taawoun,...,46+2,44+2,44+2,44+2,46+2,45+2,43+2,43+2,43+2,45+2
12747,210312,https://sofifa.com/player/210312/sebastian-wim...,S. Wimmer,Sebastian Wimmer,25,1994-01-15,187,80,Austria,Viktoria Köln,...,57+2,61+2,61+2,61+2,57+2,58+2,63+2,63+2,63+2,58+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6273,167159,https://sofifa.com/player/167159/steffen-hagen...,S. Hagen,Steffen Hagen,33,1986-03-08,185,80,Norway,Odds BK,...,60+2,65+2,65+2,65+2,60+2,62+2,68+2,68+2,68+2,62+2
3310,234575,https://sofifa.com/player/234575/diogo-filipe-...,Diogo Leite,Diogo Filipe Monteiro Pinto Leite,20,1999-01-23,188,73,Portugal,FC Porto,...,62+2,66+2,66+2,66+2,62+2,65+2,71+2,71+2,71+2,65+2
14960,240362,https://sofifa.com/player/240362/agustin-boliv...,A. Bolivar,Agustín Gabriel Bolívar,23,1996-01-09,173,73,Argentina,Gimnasia y Esgrima La Plata,...,60+2,61+2,61+2,61+2,60+2,60+2,61+2,61+2,61+2,60+2
10166,228638,https://sofifa.com/player/228638/ben-stevenson...,B. Stevenson,Ben Stevenson,22,1997-03-23,182,67,England,Colchester United,...,62+2,59+2,59+2,59+2,62+2,60+2,53+2,53+2,53+2,60+2
14249,237988,https://sofifa.com/player/237988/teruki-hara/2...,T. Hara,原 輝綺,20,1998-07-30,178,74,Japan,Sagan Tosu,...,60+2,59+2,59+2,59+2,60+2,59+2,59+2,59+2,59+2,59+2

In [13]:
# query method
df.query("age> 30 and nationality == 'Croatia'")
# boolean slicing
# df[df.age > 30]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
8,177003,https://sofifa.com/player/177003/luka-modric/2...,L. Modrić,Luka Modrić,33,1985-09-09,172,66,Croatia,Real Madrid,...,81+3,81+3,81+3,81+3,81+3,79+3,72+3,72+3,72+3,79+3
64,168651,https://sofifa.com/player/168651/ivan-rakitic/...,I. Rakitić,Ivan Rakitić,31,1988-03-10,184,78,Croatia,FC Barcelona,...,77+3,79+3,79+3,79+3,77+3,75+3,72+3,72+3,72+3,75+3
141,181783,https://sofifa.com/player/181783/mario-mandzuk...,M. Mandžukić,Mario Mandžukić,33,1986-05-21,190,85,Croatia,Juventus,...,71+3,72+3,72+3,72+3,71+3,70+3,72+3,72+3,72+3,70+3
299,181786,https://sofifa.com/player/181786/vedran-corluk...,V. Ćorluka,Vedran Ćorluka,33,1986-02-05,192,84,Croatia,Lokomotiv Moscow,...,73+3,74+3,74+3,74+3,73+3,74+3,79+3,79+3,79+3,74+3
537,192593,https://sofifa.com/player/192593/danijel-subas...,D. Subašić,Danijel Subašić,34,1984-10-27,191,84,Croatia,AS Monaco,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
695,185431,https://sofifa.com/player/185431/nikola-kalini...,N. Kalinić,Nikola Kalinić,31,1988-01-05,187,80,Croatia,Atlético Madrid,...,57+3,56+3,56+3,56+3,57+3,55+3,54+3,54+3,54+3,55+3
3169,201139,https://sofifa.com/player/201139/ivan-strinic/...,I. Strinić,Ivan Strinić,31,1987-07-17,186,78,Croatia,Milan,...,72+2,71+2,71+2,71+2,72+2,71+2,72+2,72+2,72+2,71+2
6378,190959,https://sofifa.com/player/190959/ante-kulusic/...,A. Kulušić,Ante Kulušić,33,1986-06-06,189,78,Croatia,MKE Ankaragücü,...,61+2,64+2,64+2,64+2,61+2,64+2,68+2,68+2,68+2,64+2
6537,220709,https://sofifa.com/player/220709/ivan-vargic/2...,I. Vargić,Ivan Vargić,32,1987-03-15,192,93,Croatia,Lazio,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7677,244258,https://sofifa.com/player/244258/danijel-zagor...,D. Zagorac,Danijel Zagorac,32,1987-02-07,186,80,Croatia,Dinamo Zagreb,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14593,226107,https://sofifa.com/player/226107/luka-maric/20...,L. Marić,Luka Marić,32,1987-04-25,182,78,Croatia,Arka Gdynia,...,56+2,59+2,59+2,59+2,56+2,56+2,59+2,59+2,59+2,56+2
15318,251280,https://sofifa.com/player/251280/krsevan-santi...,K. Santini,Krševan Santini,32,1987-04-11,189,83,Croatia,Jagiellonia Białystok,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.dob
# type object to be able tp query it i need to change it to datetime64 type 
df.dob = df.dob.astype('datetime64[ns]')
df.dob

0       1987-06-24
1       1985-02-05
2       1992-02-05
3       1993-01-07
4       1991-01-07
           ...
18273   1997-03-10
18274   1997-01-01
18275   2000-05-16
18276   2000-08-02
18277   1993-01-11
Name: dob, Length: 18278, dtype: datetime64[ns]

In [26]:
df.query("dob.dt.year > 1990")

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
5,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
6,192448,https://sofifa.com/player/192448/marc-andre-te...,M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

to make opertions to more than one column we must use the axis =1 parameter in the apply method

In [31]:
# convert long name to uppercase()
df.long_name.apply(lambda x: x.upper())
# x represent one element in each row at a time
df.long_name.str.upper() # does the same thing i use the str attribute to access the string methods

0             LIONEL ANDRÉS MESSI CUCCITTINI
1        CRISTIANO RONALDO DOS SANTOS AVEIRO
2              NEYMAR DA SILVA SANTOS JUNIOR
3                                  JAN OBLAK
4                                EDEN HAZARD
                        ...
18273                                     邵帅
18274                           MINGJIE XIAO
18275                                     张威
18276                                    汪海健
18277                                    潘喜明
Name: long_name, Length: 18278, dtype: object

In [39]:
# get year from dob
df.dob.apply(lambda x:x.year)
# or use dt attributes
df.dob.dt.year

0        1987
1        1985
2        1992
3        1993
4        1991
         ...
18273    1997
18274    1997
18275    2000
18276    2000
18277    1993
Name: dob, Length: 18278, dtype: int32

In [40]:
# calculate bmi using lambda we need to specify the axis =1 cuz we are using more than one column 
df.apply(lambda x: x['weight_kg']/ ((x['height_cm']/100)** 2) , axis =1)

0        24.913495
1        23.735308
2        22.204082
3        24.615211
4        24.163265
           ...
18273    22.835010
18274    21.066743
18275    21.678807
18276    21.621622
18277    23.547881
Length: 18278, dtype: float64

to copy data frames we use copy()

In [42]:
# deep parameter specify it changes in the original will be reflected in the copy or not (default = True => don't reflect)
df_copy = df.copy()
df_copy = df.copy(deep = False )# reflects ( we call it shallow copy)
df_new = df # is also a shallow copy

# pivot() , pivot_table

In [49]:
# df.pivot(index= 'sofifa_id', columns='nationality', values='short_name')

nationality,Afghanistan,Albania,Algeria,Angola,Antigua & Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,...,Ukraine,United Arab Emirates,United States,Uruguay,Uzbekistan,Venezuela,Vietnam,Wales,Zambia,Zimbabwe
sofifa_id,,,,,,,,,,,,,,,,,,,,,
768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
df_table = pd.read_excel('supermarket_sales.xlsx')

In [58]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [65]:
df_table

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-02-09,13:22:00,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2019-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,13:28:00,Cash,618.38,4.761905,30.9190,6.6

In [69]:
df_table.pivot_table(index='Gender', values=df_table.select_dtypes(include='number').columns, aggfunc='sum').round(1)
# in older pandas versions (before ~v1.5):

# .pivot_table(aggfunc='sum') automatically ignored non-numeric columns, like datetime.

# It just summed the numeric ones — silently.

# 🟢 So the tutorial works because pandas silently skipped datetime columns like Date and Time.
# so we use this for it to work {values=df_table.select_dtypes(include='number').columns} => Only uses numeric columns

,Quantity,Rating,Tax 5%,Total,Unit price,cogs,gross income,gross margin percentage
Gender,,,,,,,,
Female,2869,3489.2,7994.4,167882.9,27687.2,159888.5,7994.4,2385.7
Male,2641,3483.5,7384.9,155083.8,27984.9,147698.9,7384.9,2376.2

In [71]:
# make a pivot tables that says how much male and female spend in each category
df_table.pivot_table(index = 'Gender', columns= 'Product line', values= 'Total', aggfunc='sum')

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,27102.0225,30437.400,33170.9175,18560.9865,30036.8775,28574.7210
Male,27235.5090,23868.495,22973.9265,30632.7525,23825.0355,26548.1055

| Parameter  | What it does                            |
| ---------- | --------------------------------------- |
| `index=`   | Becomes row labels (group by this)      |
| `values=`  | Which columns to aggregate (not pivot)  |
| `columns=` | Creates new columns (used for pivoting) |